/* You can add global styles to this file, and also import other style files */
/* @import "../node_modules/bootstrap/dist/css/bootstrap.min.css"; */
/* html {
    font-size: 14px;
  } */
  /* Sticky footer styles
-------------------------------------------------- */

html {
  position: relative;
  min-height: 100%;
}

.my-footer {
  position: fixed;
  bottom: 0;
  width: 100%;
  /* Set the fixed height of the footer here */
  height: 40px;
  line-height: 40px; /* Vertically center the text there */
  background-color: #f5f5f5;
}


/* Custom page CSS
-------------------------------------------------- */
/* Not required for template or sticky footer method. */

body > .container {
  padding: 60px 15px 0;
  font-size: 14px;
}
.fluid{
  margin-bottom: 40px;
  /* overflow: scroll; */
  background-color: #F3F0F0;
}

.my-footer > .container {
  padding-right: 15px;
  padding-left: 15px;
  align-content: center;
}
a{
  text-decoration: none;
  font-size: 14px;
}
a:link{
  color: #5F2C0E;
  text-decoration: none;
}
/* visited link */
a:visited {
  color: #5F2C0E;
  text-decoration: none;
}

/* mouse over link */
a:hover {
  color: #5F2C0E;
  text-decoration: none;
}
button{
  cursor:pointer;
}
a{
  cursor:pointer;
}
.form-control{
  line-height: 1;
}
input{
  font-size: 14px;
}
label{
  font-size: 14px;
}
