<div class="">
  <div class="row">
      <div  *ngIf="load" >
          <img src="data:image/gif;base64,R0lGODlhEAAQAPIAAP///wAAAMLCwkJCQgAAAGJiYoKCgpKSkiH/C05FVFNDQVBFMi4wAwEAAAAh/hpDcmVhdGVkIHdpdGggYWpheGxvYWQuaW5mbwAh+QQJCgAAACwAAAAAEAAQAAADMwi63P4wyklrE2MIOggZnAdOmGYJRbExwroUmcG2LmDEwnHQLVsYOd2mBzkYDAdKa+dIAAAh+QQJCgAAACwAAAAAEAAQAAADNAi63P5OjCEgG4QMu7DmikRxQlFUYDEZIGBMRVsaqHwctXXf7WEYB4Ag1xjihkMZsiUkKhIAIfkECQoAAAAsAAAAABAAEAAAAzYIujIjK8pByJDMlFYvBoVjHA70GU7xSUJhmKtwHPAKzLO9HMaoKwJZ7Rf8AYPDDzKpZBqfvwQAIfkECQoAAAAsAAAAABAAEAAAAzMIumIlK8oyhpHsnFZfhYumCYUhDAQxRIdhHBGqRoKw0R8DYlJd8z0fMDgsGo/IpHI5TAAAIfkECQoAAAAsAAAAABAAEAAAAzIIunInK0rnZBTwGPNMgQwmdsNgXGJUlIWEuR5oWUIpz8pAEAMe6TwfwyYsGo/IpFKSAAAh+QQJCgAAACwAAAAAEAAQAAADMwi6IMKQORfjdOe82p4wGccc4CEuQradylesojEMBgsUc2G7sDX3lQGBMLAJibufbSlKAAAh+QQJCgAAACwAAAAAEAAQAAADMgi63P7wCRHZnFVdmgHu2nFwlWCI3WGc3TSWhUFGxTAUkGCbtgENBMJAEJsxgMLWzpEAACH5BAkKAAAALAAAAAAQABAAAAMyCLrc/jDKSatlQtScKdceCAjDII7HcQ4EMTCpyrCuUBjCYRgHVtqlAiB1YhiCnlsRkAAAOwAAAAAAAAAAAA==">          
      </div>
      <p style="color: red;">{{message}}</p>
    <div *ngIf="!load&&!message"  class="col-xs-10 col-sm-7 col-md-5">
        <h6 style="margin-top: 1em">Your profile</h6>
        <hr>
      <form #f="ngForm" (ngSubmit)="f.form.valid && save(f.value)">
        <fieldset ngModelGroup="info">
          <div class="form-group">
            <label>Firstname:</label>
            <div>
              <input type="text" name="first_name" required minlength="1" maxlength="30" #firstName="ngModel" class="form-control" [(ngModel)]="first_name">
              <div *ngIf="f.submitted&&firstName.errors?.required" style="color:red;" class="form-control-feedback">First Name is required</div>
              <!-- <div *ngIf="firstName.errors?.maxlength&&!firstName.errors?.required" class="form-control-feedback">First Name must less than 30 character.</div> -->
              <!-- <div *ngIf="!firstName?.valid&&f.submitted&&!firstName.errors?.required" class="form-control-feedback">First Name must less than 30 character.</div> -->
              <!-- <div class="form-control-feedback">Sorry, that username's taken. Try another?</div> -->
            </div>
          </div>
          <div class="form-group">
            <label>Lastname:</label>
            <div>
              <input type="text" required minlength="1" maxlength="30" class="form-control" #lastName="ngModel" name="last_name" [(ngModel)]="last_name">
              <div *ngIf="f.submitted&&lastName.errors?.required" style="color:red;" class="form-control-feedback">Last Name is required</div>
            </div>
          </div>
          <div class="form-group">
            <label>Gender:</label>
            <div>
              <select required name="gender" [(ngModel)]="gender" #ggender="ngModel" class="form-control">
                                  <option value="0" selected="">Female</option>
                                  <option value="1">Male</option>
                                  <option value="2">Other</option>
                              </select>
              <div *ngIf="f.submitted&&ggender.errors?.required" style="color:red;" class="form-control-feedback">Gender is required</div>
            </div>
          </div>
          <div class="form-group">
            <label>DOB:</label>
            <div>
              <input min="{{minYear}}" max="{{maxYear}}" required type="date" name="dob" #ddob="ngModel" [(ngModel)]="dob" class="form-control">
              <div *ngIf="f.submitted&&ddob.errors?.required" style="color:red;" class="form-control-feedback">Dob is required</div>
              <div *ngIf="f.submitted&&ddob?.invalid&&!ddob.errors?.required" style="color:red;" class="form-control-feedback">Dob is invalid</div>
            </div>
          </div>
        </fieldset>
        <app-alert></app-alert>
        <img *ngIf="loading" src="data:image/gif;base64,R0lGODlhEAAQAPIAAP///wAAAMLCwkJCQgAAAGJiYoKCgpKSkiH/C05FVFNDQVBFMi4wAwEAAAAh/hpDcmVhdGVkIHdpdGggYWpheGxvYWQuaW5mbwAh+QQJCgAAACwAAAAAEAAQAAADMwi63P4wyklrE2MIOggZnAdOmGYJRbExwroUmcG2LmDEwnHQLVsYOd2mBzkYDAdKa+dIAAAh+QQJCgAAACwAAAAAEAAQAAADNAi63P5OjCEgG4QMu7DmikRxQlFUYDEZIGBMRVsaqHwctXXf7WEYB4Ag1xjihkMZsiUkKhIAIfkECQoAAAAsAAAAABAAEAAAAzYIujIjK8pByJDMlFYvBoVjHA70GU7xSUJhmKtwHPAKzLO9HMaoKwJZ7Rf8AYPDDzKpZBqfvwQAIfkECQoAAAAsAAAAABAAEAAAAzMIumIlK8oyhpHsnFZfhYumCYUhDAQxRIdhHBGqRoKw0R8DYlJd8z0fMDgsGo/IpHI5TAAAIfkECQoAAAAsAAAAABAAEAAAAzIIunInK0rnZBTwGPNMgQwmdsNgXGJUlIWEuR5oWUIpz8pAEAMe6TwfwyYsGo/IpFKSAAAh+QQJCgAAACwAAAAAEAAQAAADMwi6IMKQORfjdOe82p4wGccc4CEuQradylesojEMBgsUc2G7sDX3lQGBMLAJibufbSlKAAAh+QQJCgAAACwAAAAAEAAQAAADMgi63P7wCRHZnFVdmgHu2nFwlWCI3WGc3TSWhUFGxTAUkGCbtgENBMJAEJsxgMLWzpEAACH5BAkKAAAALAAAAAAQABAAAAMyCLrc/jDKSatlQtScKdceCAjDII7HcQ4EMTCpyrCuUBjCYRgHVtqlAiB1YhiCnlsRkAAAOwAAAAAAAAAAAA==">
        <button [disabled]="loading" class="btn btn-sm btn-primary" name="" id="">Update</button>
      </form>
    </div>
  </div>
</div>