<div style="margin-top: 5%">
    <ul class="nav nav-tabs" role="tablist" id="myTab">
      <li (click)="selectTab(tab)"  class="nav-item" role="presentation" *ngFor="let tab of tabs"
        [class.active]="tab.active" >
        <a  class="nav-link"  data-toggle="tab" [routerLink]="['tabs', {id: tab?._id}]" [attr.aria-controls]="tab?.title" role="tab">
            {{tab?.title}}
        </a>
      </li>
    </ul>
    <div role="tabpanel" class="tab-content tab-pane">
      <div *ngIf="tab" >
        <div  class="tab-pane" role="tabpanel">
          <p>{{tab.content}}</p>
        </div>
      </div>
    </div>
  </div>