<nav class="navbar sticky-top navbar-expand-lg ">
    <a class="navbar-brand" [routerLink]="['/home']">Home</a>
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarTogglerDemo02" aria-controls="navbarTogglerDemo02"
        aria-expanded="false" aria-label="Toggle navigation">
          <span class="navbar-toggler-icon"></span>              
        </button>

    <div class="collapse navbar-collapse" id="navbarTogglerDemo02">
        <ul class="navbar-nav mr-auto mt-2 mt-lg-0">
            <li class="nav-item active">
                <a class="nav-link" *ngIf="isLogin" [routerLink]="['/post']">Post<span class="sr-only">(current)</span></a>
            </li>
        </ul>
        <form class="form-inline my-2 my-lg-0">
            <ul class="navbar-nav mr-auto mt-2 mt-lg-0">
                <li class="nav-item dropdown">
                    <a style="text-decoration: none;" *ngIf="isLogin" class="nav-link dropdown-toggle" data-toggle="dropdown" href="#" role="button"
                        aria-haspopup="true" aria-expanded="false">
                            <span><img class="rounded-circle img-fluid" alt="#" width="25" height="25" src={{image}}></span>
                            <span>{{username}}</span>    
                    </a>
                    <div class="dropdown-menu">
                        <a class="dropdown-item">Account</a>
                        <a class="dropdown-item" [routerLink]="['/profile/info']">Settings</a>
                        <div class="dropdown-divider"></div>
                        <a  class="dropdown-item" (click)="logout()">Log out</a>
                    </div>
                </li>
                <li class="nav-item">
                    <a style="margin-right: 1em" *ngIf="(!isLogin&&isRouteLogin)||(!isLogin&&!isRouteSignup)" (click)="signup()">Sign up</a>
                </li>
                <li class="nav-item">
                    <a *ngIf="(!isLogin&&isRouteSignup) || !isLogin&&!isRouteLogin" (click)="login()">Log in</a>
                </li>
            </ul>
            <!-- <input  class="form-control mr-sm-2" type="text" placeholder="Search">
          <button class="btn btn-outline-success my-2 my-sm-0" type="submit">Search</button> -->
        </form>
    </div>
</nav>
